<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="template/template :: head">
    <meta charset="utf-8" />
    <title>Spring Security WebAuthn Sample</title>

</head>
<body class="hold-transition login-page" id="login-login-view">
<div class="content-wrapper">
    <h1 href="/" class="h3 font-weight-normal text-center">Spring Security WebAuthn Sample</h1>

    <h2 href="/" class="h4 font-weight-normal text-center">Dashboard</h2>

    <h3 href="/" class="h4 font-weight-normal text-center">Login success</h3>

    <form th:action="@{/logout}" method="post">
        <div class="mt-3 mb-3">
            <button type="submit"  class="btn btn-link" value="webAuthnLogin">Logout</button>
        </div>
    </form>

</div>
<!-- /.content-wrapper -->

</body>
</html>
